<div class="container-fluid main pt-2">
    <div class="row justify-content-center">
        <div class= "row justify-content-center col-xl-6 col-md-12 mb-5">

            <form class="form col-xl-8 col-md-6 col-xs-6">
                <div class="text-center title">
                    <h3 style="color: #005a81">Creér un compte entreprise</h3>
                </div>

                <div class="ligne">
                    <div class="ligne-item">
                        <label for="name" class="mb-3">Nom de l'entreprise</label>
                        <input type="text" id="name" [(ngModel)]="newEnt.nomEntreprise" name="name" class="ligne-form mb-3">
                    </div>
                </div>
                <div class="ligne">
                    <div class="ligne-item">
                        <label for="descripion" class="mb-3">Description</label>
                        <textarea id="description" [(ngModel)]="newEnt.descriptionEnt" name="description" rows="5"></textarea>
                    </div>
                </div>
                <div class="ligne">
                    <div class="ligne-item">
                        <label for="raison" class="mb-3">Raison social</label>
                        <input type="text" id="raison" [(ngModel)]="newEnt.raisonSocialEnt"  name="raison" class="ligne-form mb-3">
                    </div>
                </div>

                <div class="ligne">
                    <div class="ligne-item">
                        <label for="matricule" class="mb-3">Matricule fiscale</label>
                        <input type="text" id="matricule" [(ngModel)]="newEnt.matriculeFiscaleEnt"  name="matricule" class="ligne-form mb-3">
                    </div>
                </div>

                <div class="ligne">
                    <div class="ligne-item">
                        <label for="adresse" class="mb-3">Adresse</label>
                        <input type="text" id="adresse" [(ngModel)]="newEnt.adresseEnt"  name="adresse" class="ligne-form mb-3">
                    </div>
                </div>

                <div class="ligne">
                    <div class="ligne-item">
                        <label for="email" class="mb-3">Email</label>
                        <input type="email" id="email" [(ngModel)]="newEnt.emailEnt"  name="email" class="ligne-form mb-3">
                    </div>
                </div>

                <div class="ligne">
                    <div class="ligne-item">
                        <label for="tel" class="mb-3">Téléphone</label>
                        <input type="tel" id="tel" [(ngModel)]="newEnt.telephoneEnt"  name="tel" class="ligne-form mb-3">
                    </div>
                </div>

                <div class="ligne">
                    <div class="ligne-item mb-3">
                        <label class="mb-2">Logo :</label>
                        <input type="file" (change)="onImageUpload($event)" name="logo" class="ligne-form">
                    </div>
                </div>

                <div class="ligne">
                    <div class="ligne-item">
                        <label for="login" class="mb-3">Identifiant</label>
                        <input type="text" id="login" [(ngModel)]="newEnt.loginEnt"  name="login" class="ligne-form mb-3">
                    </div>
                </div>
                <div class="ligne">
                    <div class="ligne-item">
                        <label for="password" class="mb-3">Mot de passe</label>
                        <input type="password" id="password" [(ngModel)]="newEnt.passwordEnt"  name="password" class="ligne-form mb-3">
                    </div>
                </div>
                <div class="ligne">
                    <div class="ligne-item">
                        <label for="password" class="mb-3">Confirmer mot de passe</label>
                        <input type="password" id="confpassword" [(ngModel)]="confirmPwd" name="confpassword" class="ligne-form mb-3">
                    </div>
                </div>
                <div class="ligne-btn mb-3">
                    <button class="btn-ent" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="onRegister()">Creér</button>
                </div>
                <div class="ms-1">
                    <small>Vous avez déjà un compte ? <a routerLink="/loginent"> Connexion</a></small>
                </div>
            </form>

        </div>
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-body">
                    <div *ngIf="created ; else problem">
                        <div class="alert alert-success">
                            <strong><i class="fas fa-check-circle fa-lg me-2"></i></strong> Compte creé
                        </div>
                    </div>
                    <ng-template #problem>
                        <div *ngIf="pwdError ; else other">
                            <div class="alert alert-danger">
                                <strong><i class="fas fa-check-circle fa-lg me-2"></i></strong> Confirmation de mot de passe invalide
                            </div>
                        </div>

                    </ng-template>

                    <ng-template #other>
                        <div class="alert alert-danger">
                            <strong><i class="fas fa-check-circle fa-lg me-2"></i></strong> Problem de création
                        </div>
                    </ng-template>

                </div>
                <div class="modal-footer">
                  <button type="button" class="btn-emp" data-bs-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
    </div>
</div>
