<div class="main pt-2">
    <div class="row">
        <div class="text-center mb-3" style="font-size: 60px;">
            Oops!
        </div>
    
        <div class="content text-muted fs-4">
            <div class="text-center">
                Accès refusé/Forbidden
                <div class="text-center">
                    La page que vous tentiez d'atteindre est absolument interdite <br> pour une raison quelconque
                </div>
                <div class="text-danger" style="font-size: 100px;">
                    <i class="fa fa-exclamation-triangle"></i>
                </div>
            </div>
        </div>
    </div>
</div>