.dropbtn {
    height: 20px;
    color: black;
    padding: 5px;
    border-radius: 3px;
    font-size: 10px;
    border: none;
}
  
.dropdown {
    position: relative;
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 135px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 3px ;
    z-index: 1;
}
  
.dropdown-content a {
    color: #005a81;
    font-size: 15px;
    padding: 6px 8px;
    text-decoration: none;
    display: block;
    border-radius: 3px ;
}
  
.dropdown-content a:hover {
    background-color: #ddd;
}
  
.dropdown:hover .dropdown-content {
    display: block;
}
  
.dropdown:hover .dropbtn {
    background-color: #ddd;
}

@media (max-width : 768px) {

    .dropdown-content a {
        margin-bottom: 0px
    }
}