<div class="container-fluid main pt-2">
    <div class="row justify-content-center align-items-center" style="min-height: calc(100vh - 90px)">
        <div class= "row justify-content-center col-xl-6 col-md-12 mb-5">
            <div class="alert alert-danger alert-dismissible fade show" role="alert" *ngIf="error == 1">
                <strong class="me-2"><i class="fas fa-exclamation-circle"></i></strong> Login ou mot de passe incorrect.
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
            <form class="form col-xl-8 col-md-6 col-xs-6">
                <div class="text-center title">
                    <h3 style="color: #005a81">Se connecter employé</h3>
                </div>
                
                <div class="ligne">
                    <div class="ligne-item">
                        <label for="login" class="mb-3">Login ou email</label>
                        <input type="text" id="login" [(ngModel)]="cond.loginCondidat" name="login" class="ligne-form mb-3">
                    </div>
                </div>
                <div class="ligne">
                    <div class="ligne-item">
                        <label for="password" class="mb-3">Mot de passe</label>
                        <input type="password" [(ngModel)]="cond.passwordCondidat" name="password" id="password" class="ligne-form mb-3">
                    </div>
                </div>
                <div class="ligne-btn mb-3">
                    <button class="btn-ent" (click)="onLogin()">Connecter</button>
                </div>
                <div class="ms-1">
                    <small>Vous n'avez pas de compte ? <a routerLink="/registeremp"> Créer un compte</a></small>
                </div>
            </form>

        </div>
    </div>
</div>